* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
 height: 100vh;
align-items: center;
  justify-content: center;
  background-color: rgb(229, 92, 92);
 

}
.paragraph{
    margin: 0 100px;
}

h2,p{
    color: white;
   
}
                            
.reg_box {
 max-width: 500px;
  width: 100%;
  height: 400px;
  background-color: white;
  color: black;
  display: block;
 margin: 0 50px;
 justify-content: center;
 align-items: center;
 
 padding: 30px 0;
 border-radius: 5px;

}
.input_box {
  
  text-align: center;
  display: block;


 
}
.input_box input {
  width: 90%;
  background: transparent;
  height: 35px;
  outline: none;
  border-radius: 5px;
  color: black;
}

header {
  background-color: blue;
  color: white;
  justify-content: center;
  text-align: center;
  margin: 10px 50px;
  padding: 15px 0;
  border-radius: 5px;
  width: 86%;
}
input{
    padding: 0 20px;
}
.reg_btn{
    
    background-color: green;
    color: white;
    text-align: center;
    margin: 10px 120px;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
}
.footer_box{
    text-align: center;
    margin: 1px 1px;
    padding: 0 0;
}


